html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
input {
  border: none;
}
body {
  width: 144rem;
}
.desktop-container {
  box-sizing: border-box;
  padding: 3.5rem 0rem 1.9rem 0rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.header-container {
  margin: 0rem 4.6rem 2.1rem 3.9rem;
  width: calc(100% - 8.5rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.brand-name {
  margin-right: 24.3rem;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: PoetsenOne, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.nav-item {
  margin: 0rem 8.7rem 0.5rem 0rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: PoetsenOne, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.carousel-image {
  width: 144rem;
  height: 26.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.product-section {
  box-sizing: border-box;
  padding: 1.1rem 2.3rem 5rem 5.7rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-group {
  margin-bottom: 2.4rem;
  width: 100%;
  display: flex;
  column-gap: 9rem;
  align-items: flex-end;
  flex-shrink: 0;
}
.phone-image {
  margin-bottom: 0.6rem;
  width: 19.6rem;
  height: 24.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.product-details {
  margin-bottom: 0.6rem;
  width: 78.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-heading {
  margin: 0rem 4.9rem 0.4rem 0rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.805;
  color: #000000;
  font-family: Odor Mean Chey, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.product-icons {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.laptop-image {
  margin-right: 9rem;
  width: 34.6rem;
  height: 24.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.tv-image {
  margin-top: 0.5rem;
  width: 35rem;
  height: 22.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.washing-machine-image {
  width: 19.8rem;
  height: 25.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.category-links {
  margin: 0rem 5.1rem 0rem 2.6rem;
  width: calc(100% - 7.7rem);
  display: flex;
  align-items: center;

  justify-content: space-between;

  flex-shrink: 0;
}
.category {
  margin-left: 4rem; /* Move the text forward by 4 spaces */
  text-align: center; /* Center the text vertically */

  /* margin: 0rem 26.7rem 1.4rem 0rem; */
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: PoetsenOne, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.promotion-section {
  width: 100%;
  height: 13.3rem;
  position: relative;
  flex-shrink: 0;
}
.promotion-message {
  width: 105.5rem;
  height: 10.4rem;
  position: absolute;
  left: 19.4rem;
  top: 1.5rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.3;
  color: #000000;
  font-family: Notable, "Source Sans Pro";
}
.rectangle {
  width: 144rem;
  height: 13.3rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(208, 75, 75, 0.400000006);
}

/* --------------------------------------------------------------------------------- */

/* src/App.css */
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h1 {
  margin: 0;
}

main {
  padding: 20px;
}

h2 {
  margin-top: 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}
